table {
  width: 100%;
}
.table-container {
  width: 60vw;
  padding-top: 5px;
  background: white;
  border-radius: 15px;
}
.tabla {
  padding-bottom: 20px;
}
.filter {
  width: 40vw;
  margin-left: 10vw;
  margin-right: 10vw;
}
