<table class="" mat-table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef> Cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.cliente}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef> Direccion </th>
        <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>
    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element"> <button class="edit-button" (click)="identificarViaje(element.id)">
                <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
            </button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5]" aria-label="Select page of users"></mat-paginator>